.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* GRUPO 4 */

.footer_login{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img_ampere{
    height: 500px;
}